.alert-light-danger {
  background-color: #FEEFD0 !important;
  color: #F55252  !important;
  border-color: #FEEFD0;
}

.btn-custom-connecter {
  background-color: rgb(6, 6, 70); /* Couleur de fond bleu */
  color: white; /* Texte en blanc pour une meilleure lisibilité */
}
