<!--Login Page Starts-->
<section id="login">
  <div class="row auth-height full-height-vh m-0">
    <div class="col-12 d-flex align-items-center justify-content-center">
      <div class="card overflow-hidden">
        <div class="card-content">
          <div class="card-body ">
            <div class="row m-0">

              <div class="col-lg-6 d-none d-lg-flex justify-content-center align-items-center auth-img-bg p-3">
                <img src="assets/img/ise.jpg" alt="logo ISE" class="img-fluid" width="400" height="400">
              </div>

              <div class="col-lg-6 col-12 px-4 py-3">
                <h4 class="mb-2 card-title">Se connecter</h4>
                <p>Bienvenue à nouveau, veuillez vous connecter à votre compte.</p>
                <ngb-alert type="light-danger" class="mb-2" *ngIf="isLoginFailed" (close)="isLoginFailed = false">
                  <p class="mb-0">La connexion a échoué!</p>
                </ngb-alert>
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                  <div class="form-group">
                    <input type="text" formControlName="email" class="form-control" placeholder="Nom d'utilisateur"
                      [ngClass]="{ 'is-invalid': loginFormSubmitted && lf.email.invalid, 'is-valid': loginFormSubmitted && !lf.email.invalid }"
                      required>
                    <div *ngIf="loginFormSubmitted && (lf.email.invalid || lf.email.errors?.required)"
                      class="help-block mt-1 text-danger"> <i class="ft-alert-circle align-middle"></i> C'est obligatoire</div>
                  </div>
                  <div class="form-group">
                    <input type="password" formControlName="mdp" class="form-control" placeholder="Mot de passe"
                      [ngClass]="{ 'is-invalid': loginFormSubmitted && lf.mdp.invalid, 'is-valid': loginFormSubmitted && !lf.mdp.invalid }"
                      required>
                    <div *ngIf="loginFormSubmitted && (lf.mdp.invalid || lf.mdp.errors?.required)"
                      class="help-block mt-1 text-danger"> <i class="ft-alert-circle align-middle"></i> C'est obligatoire
                    </div>
                  </div>
                  <!--<div class="d-sm-flex justify-content-between mb-3 font-small-2 ">
                    <div class="remember-me mb-2 mb-sm-0">
                      <div class="checkbox auth-checkbox">
                        <input type="checkbox" formControlName="rememberMe" class="form-control" id="rememberMe">
                        <label for="rememberMe"><span class="font-small-2 mb-3 font-weight-normal">Remember Me</span></label>
                      </div>
                    </div>
                    <a [routerLink]="['/pages/forgotpassword']" class="btn btn-custom">Mot De passe oublier ?</a>
                  </div>-->
                  <div class="d-flex justify-content-between flex-sm-row flex-column">
                    <!--<a [routerLink]="['/pages/register']" class="btn btn-custom mb-2 mb-sm-0">Register</a>-->
                    <button type="submit" class="btn btn-custom-connecter">Connecter</button>
                  </div>
                </form>
                <hr>
                <div class="d-flex justify-content-between align-items-center">
                  <h6 class="btn btn-custom">Connectez-vous avec </h6>
                  <ngx-spinner></ngx-spinner>
                  <div class="login-options">
                    <a class="btn btn-sm btn-social-icon btn-facebook mr-1"><span class="fa fa-facebook"></span></a>
                    <a class="btn btn-sm btn-social-icon btn-twitter mr-1"><span class="fa fa-twitter"></span></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Login Page Ends-->
