    <div class="container mt-4">
        <div>
            <h2>Ajouter un Formateur</h2>
        </div>
    <form>
    <div class="col-md-6">
        <fieldset class="form-group">
            <label >First-name</label>
            <input type="text" class="form-control" id="nom"  placeholder="Enter your First-name">
        </fieldset>
    </div>
    <div class="col-md-6">
        <fieldset class="form-group">
            <label >Last-name</label>
            <input type="text" class="form-control" id="prenom"  placeholder="Enter your last-name">
        </fieldset>
    </div>
    <div class="col-md-6">
        <fieldset class="form-group">
            <label >Mail</label>
            <input type="text" class="form-control" id="mail"  placeholder="Enter your @mail">
        </fieldset>
    </div>
    <div class="col-md-6">
        <fieldset class="form-group">
            <label >Number phone</label>
            <input type="text" class="form-control" id="tel"  placeholder="Enter your Number phone">
        </fieldset>
    </div>
    <div class="col-md-6">
        <fieldset class="form-group">
            <label >Adress</label>
            <input type="text" class="form-control" id="adresse"  placeholder="Enter your Adress">
        </fieldset>
    </div>

    </form>